---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="publications-list">
  {% assign pubs = site.publications | sort: 'date' | reverse %}
  {% for post in pubs %}
    <div class="pub-item" style="margin-bottom: 1.5em;">
      <p style="margin: 0;">
        <strong>
          {% if post.link %}
            <a href="{{ post.link }}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong>
      </p>
      {% if post.authors %}
        <p style="margin: 0;">{{ post.authors }}</p>
      {% endif %}
      {% if post.venue or post.date %}
        <p style="margin: 0;">
          {% if post.venue %}{{ post.venue }}{% endif %}
          {% if post.date %} • {{ post.date | date: "%b %Y" }}{% endif %}
        </p>
      {% endif %}
    </div>
  {% endfor %}
</div>



